/*
 *  Rolen's blog v1.0
 *  
 *  Copyright 2020
 *
 *  Designed and built by Rolen
 *
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    height: 100%;
    background-color: #fafbff;
}

a, 
u {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

h1{
    font-size: 1.35rem;
    font-weight: bold;
    margin: 0;
}

*:focus {
    outline: 0 !important;
}
/* **********************header***********************/

header{
    position: fixed;
    width: 30%;
    height: 100%;
    background-size: cover;
    background: #d0d7db;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5c7186, #dfe5e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5c7186, #dfe5e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.personal-intro{
    width: 80%;
    /* height: 50%; */
    margin: 0 auto;
    align-items: center;
}

.pro-pic{
    
    max-width: 120px;
    background-image: url(images/haruki.jpeg);
    border-radius: 50%;
    height: 120px;
    margin: 2em auto;
    background-size:cover;
    vertical-align: middle;
}

.personal-intro p{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 1);
}

.nickname{
    font-weight: bold;

}

.side-categories{
    width: 50%;
    margin: 0 auto;
}

.side-categories-title{

    font-size: 2.4rem;
    font-size: 2.8rem;
    margin-bottom: 36px;
}

.side-categories ul{
   list-style: none;
    
}

.side-categories ul li:first-child{
    border-top: 1px solid #ddd;
     
}

 .side-categories ul li{
    border-bottom: 1px solid #ddd;
     
}
/* content */

content{
    margin-left: 30%;
    width: 70%;
    height: 100%;
    margin-right: auto ;
    float: left;
    background: #fafbfb;
    background: rgb(29, 25, 25);
}


content > article{

    width: 85%;
    margin: 1.5rem auto;
    /* border-bottom: 1px solid #ddd !important; */
    border-radius: 32px;
    /* box-shadow: 0 2px 2px rgba(0,0,0,0.04), 0 10px 75px 0 rgba(0,0,75,0.125); */
    transition: .3s ease-out,box-shadow .5s ease-out;
    transition-delay: .1s;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), */
    /* 6px 6px 10px rgba(0, 0, 0, 0.2); */
    background: #fafbfb;
    cursor: pointer;
    position: relative;
    display:flex;
    background: rgb(49, 47, 47);
    opacity: 80%;
}

content > article:hover{
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}

.arc-img {
    background-size:cover;
    height: auto;
    border-radius: 10px;
}

article > .col{
    align-items: center;
    flex: 1;
    justify-content:center;
    text-align: center;
 }

article > .arc-content{
    flex: 2.3;
    justify-content:flex-start;
    text-align: left;
    margin: 1em;
}

.arc-content > div > h1 > a{
    margin: 0.8em;
    color: rgba(255, 253, 253, 0.7);

}

.arc-content > div > p,
time
{
    margin: 0.8em;
    font-size : 1.2rem;
    color: rgba(243, 239, 239, 0.7);
}

.arc-content > div > time
{
    font-size : 1rem;
    color: rgba(243, 239, 239, 0.7);
}

.turn-btn{
    width: 25%;
    height: 10%;
    margin: 0 auto;
}

.turn-btn > button {
    width: 45%;
    height: 3rem;
    border-radius: 10px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),6px 6px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
    color: #d07979;
    color: rgba(0,0,0,0.6);
    background-color: #fafbfb;
    padding: 0px;
    margin-top: 1rem;
    border: 0px;
    cursor: pointer;
}

.turn-btn > button:hover{
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #d07979;

}

.pre{
    float: left;
}

.post{
    float: right;
    
}
/* footer  */


/*------**************responsible design***************/
@media only screen and (max-device-width : 1024px){
    /* iPad landscape style here */

    h1{
        font-size: 1rem;
    }
    header{
        width: 100%;
        height: auto;
        position: unset;
    }
    

    content{
        width: 100%;
        margin: 0;
    }

    .personal-intro{
        padding: 1em;
    }

    .personal-intro p{
        font-size: 1rem;
    }

    .pro-pic{
        margin: 0.5em auto;
        padding: 0.5em;
        width: 60px;
        height: 60px;
    }

    content > article{

        border-radius: 20px;
    }

    .arc-content > div > p{
        font-size : 0.8rem;
    }
    
    .arc-content > div > time{
        font-size : 0.7rem;
    }

    .turn-btn > button{
        font-size: 1.2rem;
    }
}

@media only screen and (max-device-width : 639px){

   .arc-content{
        width: 90%;
        right: 0;
        height: 50%;
        margin: 0 auto;
        position: unset;
    }

    .turn-btn{
        width: 50%;
    }

    article > .col{
        min-height: 0%;
        /* width: 100%; */
        flex: none;
    }

    .arc-img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        flex: none;
    }
    
    
    content > article{
        flex-direction: column; 
    }

}



/*++++++**************responsible design***************/