/*
 *  Rolen's blog v1.0
 *  
 *  Copyright 2020
 *
 *  Designed and built by Rolen
 *
 *
 *
 *
 *
 *
*/

* {
    margin: 0;
    padding: 0;
}

html, 
body {
    margin: 0 !important;
    padding: 0;
    height: 100%;
    /* background-color: #ecf1f5; */
    background-color: #eff3f7;
}

body:before {
    position: fixed;
    top: -10px;
    left: 0;
    z-index: 100;
    content: '';
    width: 100%;
    height: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

a, 
u {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

h1{
    font-size: 1.35rem;
    font-weight: bold;
    margin: 0;
}
ul{
    list-style: none;
}

*:focus {
    outline: 0 !important;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: white !important;
}


.screen-reader-text,
.meta-nav {
     display: none;
}
/* **********************header***********************/

header{
    position: fixed;
    width: 30%;
    height: 100%;
    background-size: cover;
    background: #f3f5f8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dfe5e9, #f3f5f8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dfe5e9, #f3f5f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
    border: 1px solid #ddd;
    overflow-y: scroll;
}

.personl-intro-header{
    display: none;
}
.personal-intro{
    width: 80%;
    height: 35%;
    margin: 0 auto;
}

.pro-pic{
    
    max-width: 100px;
    border-radius: 50%;
    height: 100px;
    margin: 2em auto;
    background-size:cover;
    background-image: url(images/haruki.jpeg);
}

.header-menustate{
    display: none;
}

#header-menustate:checked ~ .personal-intro .menu-icon:before{
    transform: rotate(45deg);
    top:15px;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
#header-menustate:checked ~ .personal-intro .menu-icon:after{
    transform: rotate(-45deg);
    bottom: -2px;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

#header-menustate:checked ~ nav{
    display: inline;
}
.menu-icon{
    margin-left: 15px;
    margin-top: 15px;

}

.menu-icon:before{
    top: 8px;
}

.menu-icon:after{
    bottom: -8px;
}

.menu-icon:before, .menu-icon:after{
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: #bdb9b9;
    border-radius: 20px;
}
.menu-icon:before, .menu-icon:after{
    content: '';
}

.personal-intro p{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
}

.nickname{
    font-weight: bold;

}

.side-categories{
    width: 50%;
    margin: 1rem auto;

}

.side-categories ul{
   list-style: none;
   /* background-color: #d07979; */
   padding: 0.8em;
    
}

 .unfolder { 
   display: none;
 }
 
 .unfolder ~ .fold {
   display: none;
 }
 
 .toggle-title:after{
     content: "+";
     float: right;
     -webkit-transition: -webkit-transform 300ms ease;
     transition: -webkit-transform 300ms ease;
     transition: transform 300ms ease;
     transition: transform .3s ease, -webkit-transform .3s ease;
 
 }
 
 .unfolder:checked ~ .fold {
   display: block;
   -webkit-transition: -webkit-transform 300ms ease;
   transition: -webkit-transform 300ms ease;
   transition: transform 300ms ease;
   transition: transform 0.8s ease, -webkit-transform 0.8s ease;
 }
 
 .unfolder:checked ~ .toggle-label > .toggle-title:after{
     transform: rotate(45deg) scale(1.08);
 }
 



/* content */

content{
    margin-left: 30%;
    width: 70%;
    height: 100%;
    margin-right: auto;
    float: left;
    margin-top: 1rem;
}


content > article{

    width: 85%;
    margin: 1.5rem auto;
    border-radius: 8px;
    transition: .3s ease-out, box-shadow .5s ease-out;
    transition-delay: .1s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: #fff;;
    position: relative;
    display:flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
    border: 1px solid #eaeaea;
}

.arc-img {
    background-size:cover;
    height: auto;
    border-radius: 5px;
}

article > .col{
    align-items: center;
    flex: 1;
    justify-content:center;
    text-align: center;
 }

article > .arc-content{
    flex: 2.3;
    justify-content:flex-start;
    text-align: left;
    margin: 1.5rem;
}

.arc-content > div > p,
time
{
    font-size : 1.2rem;
    color: rgba(0,0,0,0.7);
}

.arc-content > div > time
{
    font-size : 1rem;
    color: rgba(0,0,0,0.6);
}

.turn-btn{
    width: 85%;
    height: 10%;
    margin: 1.5rem auto;
}

.turn-btn > button {
    width: 12%;
    height: 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 0px;
    margin-top: 1rem;
    border: 1px solid #ddd;
    font-weight: normal;
    margin-right: 2rem;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
}

.turn-btn > button a{
    color: #d07979;
}

.turn-btn > button:hover
{
    background: transparent;
}

.turn-btn > button:focus
{
    background: transparent;

}

/* footer  */


/*------**************responsible design***************/
@media only screen and (max-device-width : 968px){
    /* iPad landscape style here */

    h1{
        font-size: 1rem;
    }
    header{
        width: 100%;
        height: 48px;
        position:fixed;
        top:0;
        z-index: 1000;
        overflow: unset;
       
        
    }
    .personal-intro{
        width: 100%;
        height: 100%;

        position: absolute;
    }

    .personl-intro-header{
        width: 100%;
        height: 36px;
        display: block;
        top: 6px;
    }

    .personl-intro-header li{
        top: 6px;
    }
    .personl-intro-menuicon{
        left: 0;
        width: 36px;
        top:0;
        position: absolute;

    }
    .personl-intro-pic{
        position: absolute;
        width: 36px;
        top: 0;
        left: 50%;
        margin-left: -18px;
        text-align: center;
    }
    .personl-intro-searchicon{
        position: absolute;
        width: 36px;
        top: 0;
        right: 0;
        
    }


    .pro-pic{
        max-width: 36px;
        height: 36px;
        margin: 0;

    }

    .personl-intro-list{
        display: none;
    }
    
    content{
        width: 100%;
        margin: 0;
        margin-top: 48px;
    }

    .personal-intro p{
        font-size: 1rem;
    }

    .sidebar{
        display: none;
    }
    
    .arc-content > div > p{
        font-size : 0.8rem;
    }
    
    .arc-content > div > time{
        font-size : 0.7rem;
    }

    .turn-btn > button{
        width: 20%;
        font-size: 1.2rem;
    }
}

@media only screen and (max-device-width : 639px){

  
   .arc-content{
        width: 90%;
        right: 0;
        height: 50%;
        margin: 0 auto;
        position: unset;
    }

    article > .col{
        min-height: 0%;
        flex: none;
    }

    .arc-img {
        width: 100%;
        height: 200px;
        flex: none;
    }
    
    content > article{
        flex-direction: column; 
    }

}



/*++++++**************responsible design***************/